# ┌────────────────────────────────────────────────────────────────────┐
# │  🐟  摸鱼博客 · MoyuBlogs                                          │
# │  📦  仓库地址 https://github.com/moyu678/moyu-blogs                │
# │  💰  赞助地址 http://ifdian.net/a/jiadian                          │
# └────────────────────────────────────────────────────────────────────┘

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^uploads/ - [L]
    RewriteRule ^admin\.php - [L]
    RewriteRule ^install\.php - [L]
    RewriteRule ^api\.php - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
Options -Indexes
